<div class="container content">
  <div class="row">
    <div class="col-md-12 ">
      <span class="anchor" id="formLogin"></span>
      <!--form card login with validation feedback -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Whishlist</h3>
        </div>
        <div class="card-body">
          <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">
  <div class="row row-flex">
    <app-destino class="col-md-4"
    *ngFor="let d of all; let i=index"
    [idx]="i+1"
    [Destino]=d
    (clicked)="elegido($event)"
    >
    </app-destino>
  </div>

  <hr class="mb-5">

  <div class="row row-flex">
    <h5>Actividad</h5>
    <ul>
        <li *ngFor="let u of updates;">{{u}}</li>
    </ul>
  </div>

</div>


<!-- <app-destino *ngFor="let x of Destinos" [nombre]="x"></app-destino> -->
