
  <div class="card-content">
    <div class="card-img">
      <img src="https://placeimg.com/380/230/nature" alt="">
      <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
      <h3>{{Destino.nombre}}</h3>
      <p>Servicios</p>
      <ul>
          <li *ngFor="let s of Destino.servicios">
              <span [ngSwitch]="s">
                  <i *ngSwitchCase="'desayuno'">{{s}}</i>
                  <i *ngSwitchDefault="'desayuno'" style="color:red">{{s}}</i>

              </span>
          </li>
      </ul>
      <div>
          <a href="#" (click)="voteup()"><i class="material-icon md-18"> thumb_up</i></a>
          <a href="#" (click)="votedown()"><i class="material-icon md-18"> thumb_down</i></a>
          {{Destino.votes}}
      </div>
      <a href="#" class="btn-card" (click)="ir()">Ir!</a>
      <span *ngIf="Destino.isSelected()">
          <span ngNonBindable>PREFERIDO</span>
      </span>
      <a [routerLink]="['/destino', Destino.nombre ]">Ver Detalle!</a>
    </div>
  </div>


<!-- <p>{{nombre}}</p> -->
