<div class="container content">
<div class="page header">
  <div class="container">
    <div class="navlinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino']">Destino</a>
    </div>
  </div>
</div>

      <div class="row">
        <h1><span>{{ title }}</span></h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <router-outlet></router-outlet>
            <!-- <app-listadestinos></app-listadestinos> -->
        </div>
      </div>
</div>
<hr class="mb-5">

Fecha: {{ time | async }}
